.note {
  &__body__items {
    @include fonts-text;
  }
  &__inner {
    align-items: center;
    border-radius: 10px;
    color: $color-white-bg;
    background-color: #888;
    margin-bottom: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    @include fonts-text;
    font-size: 17px;
  }
}
