//variables
$color-white-bg: rgb(248, 248, 248);

//mixin
@mixin reset-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin sizeImg($width, $heigth) {
  width: $width;
  height: $heigth;
}

@mixin li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(98, 73, 112, 0.185);
  margin-bottom: 20px;
}

@mixin todo-inner {
  display: flex;
  align-items: center;
  width: 100px;
}

@mixin todo-func {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
