@import '~normalize.css/normalize.css';
@import 'abstracts';

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main {
  height: 100vh;
  background-color: $color-white-bg;
}

.todo {
  &__inner {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: $color-white-bg;
    background-color: gray;
    margin-bottom: 20px;

    &__name {
    }
    &__created {
    }
    &__category {
    }
    &__content {
    }
    &__dates {
    }
    &__archived {
      &-img {
        width: 100px;
        height: 100px;
      }
    }
    &__delete {
    }
  }
  &__body {
    &__items {
      @include reset-ul;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &__img {
      @include sizeImg(40px, 40px);
    }
    &__name {
    }
    &__created {
    }
    &__category {
    }
    &__content {
    }
    &__dates {
    }
    &__change {
      @include sizeImg(25px, 25px);
      cursor: pointer;
    }
    &__archived {
      @include sizeImg(25px, 25px);
      cursor: pointer;
    }
    &__delete {
      @include sizeImg(25px, 25px);
      cursor: pointer;
    }
  }

  &__create {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &__form {
      opacity: 0;
      visibility: hidden;
      display: flex;
      align-items: center;
      height: 100px;
    }
    &__name {
      position: absolute;
      top: 100%;
      left: 0;
      max-width: 100%;

      &-label {
        position: relative;
        width: 250px;
        display: inline-block;
        top: -20%;
      }
    }
    &__content {
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
    }
    &__category {
    }
    &__btn {
    }
    &__visible {
    }
  }
}

.note {
  &__inner {
  }
  &__header {
    &__category {
    }
    &__active {
    }
    &__archived {
    }
  }
  &__body {
    &__inner {
    }
  }
  &__items {
  }
  &__item {
    &__img {
    }
    &__active {
    }
    &__archived {
    }
  }
}

.mode-visible {
  visibility: visible;
  opacity: 1;
  transition: 1.5s ease-in-out;
}
