@import '~normalize.css/normalize.css';
@import 'abstracts';

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main {
  height: 100vh;
  background-color: $color-white-bg;
}

.todo {
  &__inner {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: $color-white-bg;
    background-color: #888;
    margin-bottom: 20px;

    &__name {
      margin-left: 50px;
    }
    &__created {
    }
    &__category {
    }
    &__content {
    }
    &__dates {
    }
    &__icon {
      display: flex;
      justify-content: space-between;
      width: 90px;

      &-img {
        @include sizeImg(35px, 35px);
        cursor: pointer;
      }

      margin-right: 10px;
    }
  }
  &__body {
    &__items {
      @include reset-ul;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(98, 73, 112, 0.185);
    margin-bottom: 20px;

    &__img {
      @include sizeImg(40px, 40px);
      margin-right: 10px;
    }

    &__name {
      &__inner {
        display: flex;
        align-items: center;
        width: 100px;
      }

      &-input {
        display: none;
        border: 1px solid #ddd;
        &:focus {
          color: #333;
        }
      }
    }
    &__created {
      width: 100px;
    }
    &__category {
      width: 100px;
      text-align: center;
    }
    &__content {
      width: 250px;
      max-width: 150px;
      word-wrap: break-word;
    }

    &__func {
      display: flex;
      justify-content: space-between;
      width: 100px;
    }

    &__dates {
      width: 100px;
      max-width: 100px;
    }
    &__change {
      @include sizeImg(25px, 25px);
      cursor: pointer;
    }
    &__archived {
      @include sizeImg(25px, 25px);
      cursor: pointer;
    }
    &__delete {
      @include sizeImg(25px, 25px);
      cursor: pointer;
      margin-right: 5px;
    }
  }

  &__create {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &__form {
      opacity: 0;
      visibility: hidden;
      display: flex;
      align-items: center;
      height: 100px;
    }
    &__name {
      position: absolute;
      top: 100%;
      left: 0;
      max-width: 100%;

      &-label {
        position: relative;
        width: 250px;
        display: inline-block;
        top: -20%;
      }
    }
    &__content {
      position: absolute;
      top: 100%;
      left: 0;
      height: 50px;
    }
    &__category {
    }
    &__btn {
    }
    &__visible {
    }
  }
}

.note {
  &__inner {
  }
  &__header {
    &__category {
    }
    &__active {
    }
    &__archived {
    }
  }
  &__body {
    &__inner {
    }
  }
  &__items {
  }
  &__item {
    &__img {
    }
    &__active {
    }
    &__archived {
    }
  }
}

.mode-visible {
  visibility: visible;
  opacity: 1;
  transition: 1.5s ease-in-out;
}

.mode-edit .todo__item__name {
  display: none;
}

.mode-edit .todo__item__name-input {
  display: inline-block;
  width: 220px;
}

input {
  outline: none;
}
